*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
:root {
  --black: hsl(212, 21%, 14%);
  --green-500: hsl(158, 36%, 37%);
  --green-700: hsl(158, 42%, 18%);
  --gray: hsl(228, 12%, 48%);
  --cream: hsl(30, 38%, 92%);
  --font-size-base: 0.875rem;
  --fraunces: "Fraunces", serif;
  --montserrat: "Montserrat", sans-serif;
}
body {
  background-color: var(--cream);
  font-size: var(--font-size-base);
  font-family: var(--montserrat);
}
section {
  margin: 10vh auto;
  width: 92vw;
  background-color: white;
  border-radius: 8px;
  display: grid;
}
section:nth-child(2) {
    display: flex;
}
h1 {
  font-family: var(--fraunces);
  font-weight: 700;
  color: var(--black);
}
